/* @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Oswald:200,300,400,500,600,700'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
	background-color: #ccc;
	margin: 0;
	font-family: Montserrat, sans-serif;
	color: #222;
}
#main {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
}
#main > div {
	display: table-cell;
	vertical-align: middle;
	padding: 0 calc(30% - 50pt);
}
#prompt {
	text-align: center;
}

h1 {
	margin-bottom: 5pt !important;
	padding-bottom: 5pt !important;
	line-height: 30pt;
	text-align: center;
	border-bottom: 1pt solid #888;
	font-size: 25pt;
}
h2 {
	margin-top: 0 !important;
	font-style: italic;
	font-weight: 500;
	color: #666;
	text-align: center;
	font-size: 17pt;
/* 	margin-top: 30pt; */
	margin-bottom: 5%;
}
#quote {
	font-weight: 400;
}
a {
	color: #888;
	text-decoration: none;
}
a:hover {
	border-bottom: 1pt solid #888;
}
#explanation {
	margin-top: 5%;
	margin-bottom: 3pt;
	font-size: 15pt;
	font-weight: 600;
	text-align: center;
}
.buttons {
	width: 100%;
	text-align: center;
}

@media screen and (max-width: 800px) {
	#counter {
		position: absolute;
		right: 0;
		top: 10%;
		font-size: 20pt !important;
		background: grey;
		padding: 5px 10px 5px 10px;
		border: none;
		color: #ddd;
		margin: 0;
	}
	#prompt .buttons {
		position: absolute;
		left: 0;
		bottom: 10%;
	}
	#prompt button {
		width: 40%;
	}
}
#prompt button {
	width: 5em;
}

button {
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	color: #000000;
	font-size: 20pt;
	padding: 5px 10px 5px 10px;
	border: none;
	margin: 5px;
	color: #ddd;
	font-family: Montserrat, sans-serif;
}

button:hover {
    -webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
	-o-filter: brightness(80%);
	-ms-filter: brightness(80%);
	filter: brightness(80%);
}
button:active {
    -webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
	-o-filter: brightness(60%);
	-ms-filter: brightness(60%);
	filter: brightness(60%);
}

button.start {
	background: #2255cc;
}
button.yes {
	background: #338833;
}
button.no {
	background: #993333;
}

#question {
	font-size: 25pt;
}
#counter {
	font-size: 15pt;
	width: 100%;
}
